*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
.main{
  height: 100%;
  width: 100%;
 position: relative;
 justify-content: center;

}
.nav{
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  padding: 0 5vw;
}
.nav-part2{
  display: flex;
  /* font-size: 8vw; */
  /* background-color: blue; */
  gap: 3vw;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.nav h2{
  font-size:4vw ;
  font-weight: 700;
  color: #070101;
  background-color: rgb(14, 234, 36);
  border-radius:5px;
  -o-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
}
.nav h4{
  font-size: 1.5vw;
  background-attachment: fixed;
  background-color: #099c1d;
  border-radius: 0.4vw;
  padding: 0.5vw;
  -webkit-border-radius: 0.4vw;
  -moz-border-radius: 0.4vw;
  -ms-border-radius: 0.4vw;
  -o-border-radius: 0.4vw;
}
.nav i{

  font-weight: 800;
  display: none;
}
.content{
  height: calc(100% - 100px);
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
}
.left{
  height: 100%;
  width: 50%;
  background-color: crimson;
  padding: 4vw 6vw;

}
.right{
  height: 100%;
  width: 50%;
  background-color: rgb(181, 61, 69);
  
}
.left h1{
  margin-top: 0%;
  font-size: 5vw;
  line-height: 6vw;
}
.left h1 span{
  color: lightseagreen;
}
.left  p{
  font-size: 3vw;
  font-weight: 600; 
  color: #a4a2fe;
  width: 80%;
  margin: 3vw;
  margin-bottom: 4.2vw;
}

button{
  margin-left: 7%;
  margin-top: 3%;
  margin-bottom: 4vw;
  font-size: 2.2vw;
  padding: 0.5vw 2.1vw;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav button{
  margin: 6vw;
  padding-right: 3vw;
  font-size: 1.5vw;
  padding: 0.7vw 1.4vw;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
img{
  height: 100%;
  width: 100%;

}

@media (max-width:600px) {
  .nav{
    background-color: lightseagreen;
    color: #fff;
    padding: 0 5vw;
  }
  .nav h2{
    font-size: 6vw;
    border-radius: 5px;
  }
  .nav h4{
    font-size: 5vw;
    display: none;
  }
  .nav i{
    
    display: block;
    font-size: 6vw;
    padding: 4vw;
  }
  .content{
    flex-direction: column;
  }
  .left{
    width: 100%;
    background-color: lightpink;
    justify-content: center;
  }
  .left h1 {
    font-size: 10vw;
    line-height: 10.2vw;
    margin: 4vw;
  }
  .left p {
    font-size: 10vw;
    line-height: 10.2vw;
    margin: 4vw;
  }
  .right{
    height: 100%;
    width: 89%;
  }


}
@media (max-width:1025)
{
  img{
    height: 80%;
    width:100;
  }

}
